* {
  margin: 0%;
  padding: 0%;
}

body {
  font-family: comfortaa;
  background-color: #83a4d4;
}

#title {
  font-size: 7rem;
  font-family: restaurant;
  text-align: center;
  padding-bottom: 2rem;
  background: #83a4d4;
  background: -webkit-linear-gradient(to bottom, #b6fbff, #83a4d4);
  background: linear-gradient(to bottom, #b6fbff, #83a4d4);
}

.search_div {
  text-align: center;
  padding-bottom: 3rem;
}

#search {
  width: 20%;
  height: 2rem;
}

.result-div {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  height: auto;
  width: 50vw;
  margin: auto;
}

.restaurant-card {
  padding: 0.4rem;
  margin: 0.4rem;
  background-color: #f8f8f8c9;
  border-radius: 5px;
  display: grid;
  grid-template-rows: 75% 25%;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.5) 0 2px 4px;
  font-family: comfortaa;
}

.restaurant-card:hover {
  box-shadow: #00d775 0 2px 6px;
}

.text-div {
  padding: 1%;
  font-size: 1.5rem;
  display: grid;
  grid-template-columns: 80% 20%;
  align-content: center;
  justify-content: space-between;
  margin-top: 10px;
}

.image-div {
  border: black solid 1px;
  display: flex;
  width: 100%;
  height: 100%;
}

.restaurant-image {
  width: 100%;
  height: 100%;
}

.rest-focus-img {
  width: 50%;
  height: 100%;
}

.restaurant-btn {
  background-color: initial;
  background-image: linear-gradient(-180deg, #00d775, #00bd68);
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: Inter, -apple-system, system-ui, Roboto, "Helvetica Neue", Arial,
    sans-serif;
  height: 44px;
  line-height: 44px;
  outline: 0;
  overflow: hidden;
  pointer-events: auto;
  position: relative;
  text-align: center;
  touch-action: manipulation;
  -webkit-user-select: none;
  user-select: none;
  vertical-align: top;
  white-space: nowrap;
  width: 100%;
  border: 0;
}

.restaurant-btn:hover {
  background: #00bd68;
}

/* MAIN MODAL FOR RESTAURANT */

.rest-modal-bg {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

#modal article {
  height: auto;
  width: 33vw;
  background-color: #83a4d4;
  padding: 3rem;
  padding-top: 1rem;
  border-radius: 25px;
}

.modal-card-header {
  display: flex;
  justify-content: space-between;
}

.modal-menu-grid {
  display: grid;
  grid-auto-columns: auto;
  grid-template-rows: 50% 50%;
  grid-auto-flow: column;
  height: 100%;
  width: 100%;
  margin: auto;
  padding-top: 10px;
  gap: 10px;
}

.modal-menu-card {
  display: grid;
  grid-template-columns: 70% 30%;
  border: black 1px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.5) 0 2px 4px;
  background-color: white;
  vertical-align: middle;
}

.modal-menu-card:hover {
  box-shadow: #00d775 0 2px 6px;
}

.menu-modal-bg {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.rest-focus-img {
  border: black solid 2px;
}

.menu-btn {
  background-color: initial;
  background-image: linear-gradient(-180deg, #00d775, #00bd68);
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: Inter, -apple-system, system-ui, Roboto, "Helvetica Neue", Arial,
    sans-serif;
  height: 44px;
  line-height: 44px;
  outline: 0;
  overflow: hidden;
  pointer-events: auto;
  position: relative;
  text-align: center;
  touch-action: manipulation;
  -webkit-user-select: none;
  user-select: none;
  vertical-align: top;
  white-space: nowrap;
  width: 90%;
  border: 0;
  margin: auto;
}

.menu-btn:hover {
  background: #00bd68;
}

/* INNER MODAL FOR SINGLE MENU */

#inner-modal article {
  display: flexbox;
  height: auto;
  width: 20vw;
  background-color: #83a4d4;
  padding: 3rem;
  padding-top: 1rem;
  border-radius: 25px;
  justify-items: center;
}

.menu-modal-title {
  font-size: 3rem;
  text-align: center;
  padding-bottom: 1rem;
}

.item-list {
  display: grid;
  grid-template-columns: auto auto;
  margin: auto;
  text-align: center;
}

.menu-card-title {
  font-size: 2rem;
  margin: auto;
}

.rest-card-title {
  font-size: 5rem;
}

.back-btn {
  background-color: initial;
  background-image: linear-gradient(-180deg, #00d775, #00bd68);
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  font-family: Inter, -apple-system, system-ui, Roboto, "Helvetica Neue", Arial,
    sans-serif;
  height: 1.5rem;
  top: 10px;
  left: 10px;
  overflow: hidden;
  pointer-events: auto;
  position: inherit;
  text-align: center;
  align-content: center;
  touch-action: manipulation;
  -webkit-user-select: none;
  user-select: none;
  vertical-align: top;
  white-space: nowrap;
  width: 1.5rem;
  border: 0;
  font-size: 1rem;
}

.back-btn:hover {
  background: #00bd68;
}

@font-face {
  font-family: restaurant;
  src: url(hotrestaurant.ttf);
}

@font-face {
  font-family: comfortaa;
  src: url(Comfortaa-regular.ttf);
}
